<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (pyproject.toml) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5103 sha256=40079293071266ce7edeb14f43c69c9597531d2188531a2445b8f97706354e65
  Stored in directory: /Users/emreer/Library/Caches/pip/wheels/a8/ce/f1/713605b6f257e4f0efca0fe272df8e2427bd335cf907ab0dff
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [3]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [4]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [6]:
some_list = r.generate_users(10)

In [7]:
some_list

[<randomuser.RandomUser at 0x107bad100>,
 <randomuser.RandomUser at 0x1077ee400>,
 <randomuser.RandomUser at 0x10a5e5d60>,
 <randomuser.RandomUser at 0x10a5e5dc0>,
 <randomuser.RandomUser at 0x10a5e5c70>,
 <randomuser.RandomUser at 0x10a5e5d30>,
 <randomuser.RandomUser at 0x10a5e5e80>,
 <randomuser.RandomUser at 0x10a626f10>,
 <randomuser.RandomUser at 0x10a626d00>,
 <randomuser.RandomUser at 0x10a626f40>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [8]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [9]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Ege Özkara   ege.ozkara@example.com
Emilio Crespo   emilio.crespo@example.com
Timmothy Lawrence   timmothy.lawrence@example.com
Lemuel Lopes   lemuel.lopes@example.com
Freja Rasmussen   freja.rasmussen@example.com
Lívian Duarte   livian.duarte@example.com
Paige Clarke   paige.clarke@example.com
Vemund Tveite   vemund.tveite@example.com
Owen Harris   owen.harris@example.com
Eevi Heino   eevi.heino@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [11]:
## Write your code here
for user in some_list:
    print(f"{user.get_full_name()}'s picture is {user.get_picture()}")

Ege Özkara's picture is https://randomuser.me/api/portraits/men/15.jpg
Emilio Crespo's picture is https://randomuser.me/api/portraits/men/60.jpg
Timmothy Lawrence's picture is https://randomuser.me/api/portraits/men/16.jpg
Lemuel Lopes's picture is https://randomuser.me/api/portraits/men/27.jpg
Freja Rasmussen's picture is https://randomuser.me/api/portraits/women/80.jpg
Lívian Duarte's picture is https://randomuser.me/api/portraits/women/80.jpg
Paige Clarke's picture is https://randomuser.me/api/portraits/women/77.jpg
Vemund Tveite's picture is https://randomuser.me/api/portraits/men/32.jpg
Owen Harris's picture is https://randomuser.me/api/portraits/men/20.jpg
Eevi Heino's picture is https://randomuser.me/api/portraits/women/41.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [12]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [13]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Linda Nelson,female,Portarlington,Carlow,linda.nelson@example.com,1983-01-13T23:55:23.680Z,https://randomuser.me/api/portraits/women/76.jpg
1,Alfonso Delgado,male,Gandía,País Vasco,alfonso.delgado@example.com,1990-12-01T16:45:19.370Z,https://randomuser.me/api/portraits/men/92.jpg
2,Matheus Van Straalen,male,Midwolde,Friesland,matheus.vanstraalen@example.com,1959-01-01T12:39:25.816Z,https://randomuser.me/api/portraits/men/60.jpg
3,Arnaud Grewal,male,Hampstead,New Brunswick,arnaud.grewal@example.com,1998-08-12T07:10:56.452Z,https://randomuser.me/api/portraits/men/66.jpg
4,Maxime Aubert,male,Nîmes,Isère,maxime.aubert@example.com,1978-01-02T19:46:48.969Z,https://randomuser.me/api/portraits/men/99.jpg
5,Harri Kanzler,male,Einbeck,Baden-Württemberg,harri.kanzler@example.com,1995-09-20T11:01:16.102Z,https://randomuser.me/api/portraits/men/46.jpg
6,Henri Morel,male,Sisikon,Schwyz,henri.morel@example.com,1955-03-19T01:32:27.835Z,https://randomuser.me/api/portraits/men/79.jpg
7,Marian Welch,female,Savannah,Maine,marian.welch@example.com,1991-06-03T20:18:21.622Z,https://randomuser.me/api/portraits/women/78.jpg
8,Tristan Meyer,male,Valen,Trøndelag,tristan.meyer@example.com,1991-04-10T22:19:10.929Z,https://randomuser.me/api/portraits/men/70.jpg
9,Loretta Brown,female,Washington,Connecticut,loretta.brown@example.com,1954-01-23T05:09:15.702Z,https://randomuser.me/api/portraits/women/62.jpg

In [17]:
df2 = pd.DataFrame(get_users())
df2

,Name,Gender,City,State,Email,DOB,Picture
0,Afet Abadan,female,Balıkesir,Afyonkarahisar,afet.abadan@example.com,1987-09-08T16:05:44.646Z,https://randomuser.me/api/portraits/women/11.jpg
1,Marita Fritsch,female,Fehmarn,Thüringen,marita.fritsch@example.com,1955-02-21T06:01:15.986Z,https://randomuser.me/api/portraits/women/67.jpg
2,Thomas Wergeland,male,Vinstra,Møre og Romsdal,thomas.wergeland@example.com,1973-01-30T14:35:58.497Z,https://randomuser.me/api/portraits/men/70.jpg
3,Felix Hauck,male,Oder-Spree,Bremen,felix.hauck@example.com,1959-11-27T16:01:11.339Z,https://randomuser.me/api/portraits/men/88.jpg
4,Dorian Bernard,male,Metz,Paris,dorian.bernard@example.com,1958-10-03T07:17:56.734Z,https://randomuser.me/api/portraits/men/99.jpg
5,Trine Årseth,female,Vangsvik,Finnmark - Finnmárku,trine.arseth@example.com,1960-12-29T03:14:44.295Z,https://randomuser.me/api/portraits/women/54.jpg
6,Marcus Robinson,male,Hamilton,Canterbury,marcus.robinson@example.com,1991-10-25T20:16:58.442Z,https://randomuser.me/api/portraits/men/49.jpg
7,Leevi Wiita,male,Oulunsalo,Satakunta,leevi.wiita@example.com,1944-12-13T18:52:39.386Z,https://randomuser.me/api/portraits/men/4.jpg
8,Jesus Stanley,male,Geraldton,Tasmania,jesus.stanley@example.com,1984-10-16T19:40:15.892Z,https://randomuser.me/api/portraits/men/28.jpg
9,Addison Wang,female,Blenheim,Gisborne,addison.wang@example.com,1981-04-30T12:48:37.618Z,https://randomuser.me/api/portraits/women/9.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [19]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [20]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [22]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [23]:
pd.DataFrame(results)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."
10,Pineapple,10,Bromeliaceae,Poales,Ananas,"{'calories': 50, 'fat': 0.12, 'sugar': 9.85, '..."
11,Fig,68,Moraceae,Rosales,Ficus,"{'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'c..."
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,"{'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'ca..."
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,"{'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'c..."
14,Plum,71,Rosaceae,Rosales,Prunus,"{'calories': 46, 'fat': 0.28, 'sugar': 9.92, '..."
15,Orange,2,Rutaceae,Sapindales,Citrus,"{'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'ca..."
16,GreenApple,72,Rosaceae,Rosales,Malus,"{'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'ca..."
17,Raspberry,23,Rosaceae,Rosales,Rubus,"{'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'ca..."
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,"{'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'ca..."
19,Lemon,26,Rutaceae,Sapindales,Citrus,"{'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'ca..."
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,"{'calories': 60, 'fat': 0.38, 'sugar': 13.7, '..."
21,Blueberry,33,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
22,Apple,6,Rosaceae,Rosales,Malus,"{'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'c..."
23,Guava,37,Myrtaceae,Myrtales,Psidium,"{'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'ca..."
24,Apricot,35,Rosaceae,Rosales,Prunus,"{'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'ca..."
25,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,"{'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'ca..."
26,Tangerine,77,Rutaceae,Sapindales,Citrus,"{'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'ca..."
27,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,"{'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'ca..."
28,Lime,44,Rutaceae,Sapindales,Citrus,"{'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'ca..."
29,Pomegranate,79,Lythraceae,Myrtales,Punica,"{'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'c..."
30,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,"{'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'ca..."
31,Grape,81,Vitaceae,Vitales,Vitis,"{'calories': 69, 'fat': 0.16, 'sugar': 16.0, '..."
32,Morus,82,Moraceae,Rosales,Morus,"{'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'c..."
33,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,"{'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'ca..."
34,Avocado,84,Lauraceae,Laurales,Persea,"{'calories': 160, 'fat': 14.66, 'sugar': 0.66,..."
35,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,"{'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'ca..."
36,Cranberry,87,Ericaceae,Ericales,Vaccinium,"{'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'ca..."
37,Cherry,9,Rosaceae,Rosales,Prunus,"{'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'ca..."
38,Peach,86,Rosaceae,Rosales,Prunus,"{'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'c..."
39,Jackfruit,94,Moraceae,Rosales,Artocarpus,"{'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'c..."
40,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,"{'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'c..."
41,Hazelnut,96,Betulaceae,Fagales,Corylus,"{'calories': 628, 'fat': 61.0, 'sugar': 4.3, '..."
42,Pomelo,98,Rutaceae,Sapindales,Citrus,"{'calories': 37, 'fat': 0.0, 'sugar': 8.5, 'ca..."
43,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,"{'calories': 73, 'fat': 0.58, 'sugar': 16.11, ..."
44,Pumpkin,100,Cucurbitaceae,Cucurbitales,Cucurbita,"{'calories': 25, 'fat': 0.3, 'sugar': 3.3, 'ca..."
45,Japanese Persimmon,101,Ebenaceae,Ericales,Diospyros,"{'calories': 70, 'fat': 0.2, 'sugar': 13.0, 'c..."
46,Papaya,42,Caricaceae,Brassicales,Carica,"{'calories': 39, 'fat': 0.3, 'sugar': 4.4, 'ca..."
47,Annona,103,Annonaceae,Rosales,Annonas,"{'calories': 92, 'fat': 0.29, 'sugar': 3.4, 'c..."
48,Ceylon Gooseberry,104,Salicaceae,Malpighiales,Dovyalis,"{'calories': 47, 'fat': 0.3, 'sugar': 8.1, 'ca..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [24]:
df2 = pd.json_normalize(results)

In [25]:
df2

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
26,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
27,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
28,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
29,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
30,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
31,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
32,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
33,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
34,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
35,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
36,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
38,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
39,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
40,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78
41,Hazelnut,96,Betulaceae,Fagales,Corylus,628,61.00,4.30,17.00,15.00
42,Pomelo,98,Rutaceae,Sapindales,Citrus,37,0.00,8.50,9.67,0.82
43,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73,0.58,16.11,17.91,0.41
44,Pumpkin,100,Cucurbitaceae,Cucurbitales,Cucurbita,25,0.30,3.30,4.60,1.10
45,Japanese Persimmon,101,Ebenaceae,Ericales,Diospyros,70,0.20,13.00,19.00,0.60
46,Papaya,42,Caricaceae,Brassicales,Carica,39,0.30,4.40,5.80,0.50
47,Annona,103,Annonaceae,Rosales,Annonas,92,0.29,3.40,19.10,1.50
48,Ceylon Gooseberry,104,Salicaceae,Malpighiales,Dovyalis,47,0.30,8.10,9.60,1.20

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [26]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [33]:
# Write your code here
banana = df2.loc[df2['name'] == 'Banana']
banana.iloc[0]['nutritions.calories']

np.int64(96)

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [35]:
# Write your code here
r = requests.get('https://official-joke-api.appspot.com/jokes/ten')
pattern = r.text

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [49]:
# Write your code here
data = json.loads(r.text)
data

[{'type': 'general',
  'setup': "When a dad drives past a graveyard: Did you know that's a popular cemetery?",
  'punchline': 'Yep, people are just dying to get in there',
  'id': 50},
 {'type': 'general',
  'setup': 'What do you call a fashionable lawn statue with an excellent sense of rhythmn?',
  'punchline': 'A metro-gnome',
  'id': 204},
 {'type': 'general',
  'setup': "What's black and white and read all over?",
  'punchline': 'The newspaper.',
  'id': 264},
 {'type': 'general',
  'setup': 'What did the scarf say to the hat?',
  'punchline': 'You go on ahead, I am going to hang around a bit longer.',
  'id': 183},
 {'type': 'general',
  'setup': 'Why did Sweden start painting barcodes on the sides of their battleships?',
  'punchline': 'So they could Scandinavian.',
  'id': 313},
 {'type': 'general',
  'setup': 'How do you know if there’s an elephant under your bed?',
  'punchline': 'Your head hits the ceiling!',
  'id': 126},
 {'type': 'general',
  'setup': 'What do you call a bee that lives in America?',
  'punchline': 'A USB.',
  'id': 192},
 {'type': 'general',
  'setup': "What's orange and sounds like a parrot?",
  'punchline': 'A Carrot.',
  'id': 267},
 {'type': 'general',
  'setup': 'Hey, dad, did you get a haircut?',
  'punchline': 'No, I got them all cut.',
  'id': 76},
 {'type': 'general',
  'setup': 'Why does a chicken coop only have two doors?',
  'punchline': 'Because if it had four doors it would be a chicken sedan.',
  'id': 356}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [48]:
# Write your code here
df = pd.DataFrame(data)
df.drop(columns=['type','id'],inplace=True)
df

,setup,punchline
0,When a dad drives past a graveyard: Did you kn...,"Yep, people are just dying to get in there"
1,What do you call a fashionable lawn statue wit...,A metro-gnome
2,What's black and white and read all over?,The newspaper.
3,What did the scarf say to the hat?,"You go on ahead, I am going to hang around a b..."
4,Why did Sweden start painting barcodes on the ...,So they could Scandinavian.
5,How do you know if there’s an elephant under y...,Your head hits the ceiling!
6,What do you call a bee that lives in America?,A USB.
7,What's orange and sounds like a parrot?,A Carrot.
8,"Hey, dad, did you get a haircut?","No, I got them all cut."
9,Why does a chicken coop only have two doors?,Because if it had four doors it would be a chi...

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.